body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.imgBox {
    width: 720px;
    margin: 50px auto 20px;
}

.imgBox img {
    width: 100%;
    border: 4px solid #fff;
    box-shadow: 0 5px 25px rgba(0, 0, 0, .5);
}

.thumb {
    margin: 0 auto;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.thumb li {
    list-style: none;
    margin: 0 10px;
}

.thumb li img {
    border: 4px solid #fff;
    box-shadow: 0 5px 25px rgba(0, 0, 0, .5);
}